.normal {
  padding: 10px 20px;
  background-color: brown;
  color: white;
  border-color: brown;
  border-radius: 5px;
  margin-bottom: 20px;
}

.index {
  composes: normal;
  text-transform: uppercase;
}