.App {
  font-family: sans-serif;
  text-align: center;
}

button {

  padding: 10px 20px;
  background-color: brown;
  color: white;
  border-color: brown;
  border-radius: 5px;
  margin-bottom: 20px;
}